
body {
	font-family: 'Futura';
	background-color: rgb(90, 23, 100);
}

#logo {
	position: relative;
	margin: 0 auto;
	top: 50px;
}

#play {
	background-image: url(http://crevisio.com/images/posts/132/YyNnsKJsu/Crevisio-132-YyNnsKJsu.jpg);
	margin: 0 auto;
	position: relative;
}

.display {
	margin-top: 100px;
	margin-bottom: 35px;
	text-align: center;
}
.grid {
	height: 90px;
	border: 5px solid black;
	background: rgb(0, 195, 175);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.grid::before {
	content: '';
	position: absolute;
	z-index: 1;
	height: 92px;
	width: 95px;
	border: 2px solid rgb(0, 167, 148);
	top: -5px;
	left: -5px;
}

.grid img {
	text-align: center;
	height: 40px;

}

.end {
	border: none;
	background: transparent;
}

.end::before {
	border: none;
}

#letter {
	background: white;
	font-size: 30px;
	text-align: center;
	line-height: 85px;
}

#players {
	text-align: center;
}

#player_a {
	display: inline-block;
	vertical-align: top;
	background-color: rgb(238, 238, 238);
	text-align: center;
	height: 130px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#player_b {
	display: inline-block;
	vertical-align: top;
	background-color: rgb(238, 238, 238);
	text-align: center;
	height: 130px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.hint {
	text-align: center;
	height: 60px;
	color: white;
}

#gameplay {
	margin: 20px 5px;
}

#value {
	width: 175px;
	height: 30px;
	background-color: white;
	border: 3px solid black;
	margin-left: 5px;
}

#turn {
	color: white;
	line-height: 130px;
}

#next {
	margin: 0 auto;
}

#keyboard {
	text-align: center;
}

